.product_details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 126px;
}

.product_spec_cont {
    display: contents;
}

.product_image_section {
    flex: 1;
    max-width: 300px;
}

.product_image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 475px;
}

.product_info_section {
    flex: 2;
    max-width: 600px;
}

.product_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_rating {
    color: #888;
    margin-bottom: 10px;
}

.product_stock {
    color: green;
}

.product_condition .condition_button {
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
}

.product_condition .condition_button:hover {
    background-color: #eaeaea;
}

.product_color {
    margin-bottom: 15px;
}

.color-options {
    display: flex;
    gap: 10px;
}

.color_swatch {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
}

.color_swatch:hover {
    border-color: #000;
}

.product_details-list {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.product_stock .product_details_list li {
    margin-bottom: 8px;

}

.product_details_list {
    padding: 10px 0;
    text-align: justify;
}

.product_price_section {
    border-radius: 20px;
    flex: 1 1;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.current_price {
    font-weight: bold;
    color: #333;
}

.original_price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.productCount {
    width: 50px;
    text-align: center;
    height: 50px;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.counter_btn {
    width: 50px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
}

.counter_btn:active {
    background-color: #91c1e4;
    color: white;
    border-radius: 20px;
}

.action_buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.add_to_cart,
.buy_now {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.add_to_cart {
    width: 100%;
}

.buy_now {
    background-color: #28a745;
    color: #fff;
}

.add_to_cart:hover {
    background-color: #0056b3;
}

.buy_now:hover {
    background-color: #218838;
}

.add_to_wishlist {
    width: 110px;
    background: none;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 10px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.extra_info {
    margin-top: 20px;
    color: #555;
    font-size: 0.9rem;
}

.color_options {
    display: flex;
    gap: 5px;
}

.add_to_wishlist {
    &:focus {
        outline: none;
    }

    svg {
        /* fill: transparent; */
    }

}

.is_active {
    svg {
        fill: #e64141;
        animation: beat cubic-bezier(0.04, 0.4, 0.5, 0.95) 450ms forwards 1;
    }
}

@keyframes beat {
    30% {
        opacity: 1;
        transform: scale(1.8);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.extra_info p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.cart_button {
    position: relative;
    padding: 10px;
    width: 200px;
    border: 0;
    border-radius: 20px;
    background-color: #0088ed;
    outline: none;
    cursor: pointer;
    transition: .3sease -in-out;
    overflow: hidden;
    color: #000;
    height: 50px;
    font-weight: 700;
}

.cart_button:hover {
    background-color: rgb(69, 55, 156);
}

.cart_button:active {
    transform: scale(.9);
}

.cart_button .fa_shopping_cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
}

.cart_button .fa_box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.cart_button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

.cart_button span.add_to_cart {
    opacity: 1;
}

.cart_button span.added {
    opacity: 0;
}

.cart_button.clicked .fa_shopping_cart {
    animation: cart 1.5s ease-in-out forwards;
}

.cart_button.clicked .fa_box {
    animation: box 1.5s ease-in-out forwards;
}

.cart_button.clicked span.add_to_cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart_button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

/* new CSS */

.productDetails_main_contaier {
    margin-top: 110px;
}

.productSpecs_container {
    display: flex;
    gap: 10px;
}

.product_demoContainer {
    gap: 6px;
    width: 5%;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.variant_image {
    width: 100%;
    height: 70px;
    object-fit: contain;
    cursor: pointer;
    position: relative;
}


.variant_image.selected {
    opacity: 0.5;
    background: black;
    mix-blend-mode: difference;
    transition: all 0.5s ease-in-out;
}

.product_main_image_container {
    width: 50%;
    border-radius: 12px;
    height: 551px;
    margin-bottom: 50px;
}

.product_main_image {
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin-bottom: 10px;
}

.breadCrumb_section {
    font-size: 12px;
    font-weight: 600;
}

.product_name {
    color: #0088ed;
    margin-top: 15px;
}

.productDescription_container {
    width: 45%;
}

.product_shop {
    font-size: 16px;
    font-weight: 600;
}

.product_desc {
    color: #353333;
}

.product_desc p span {
    font-size: 12px !important;
    color: #353333;
}

.productPrice {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}

.price_description {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #353333;
}

.size_container {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.size_selector {
    background: #dfeef9;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    width: 70px;
    height: 40px;
    color: black;
    cursor: pointer;
}

.size_selector p {
    margin: 0
}

.size_selector p:last-of-type {
    font-size: 8px;
    color: #999;
}

.size {
    display: flex;
    align-items: center;
    gap: 16px;
}

.counter_container {
    display: flex;
    border-radius: 20px;
    background-color: #dfeef9;
}

.specs_image {
    height: 10px;
    width: 10px;
    object-fit: cover;
    margin-right: 5px;
}

.specs_list {
    font-size: 14px;
    font-weight: 600;
    margin: 3px 0;
}

.specsList_container {
    margin: 25px 0;
}

.specsCard_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card_image {
    width: 24px;
    object-fit: contain;
}

.specsCard {
    display: flex;
    gap: 5px;
    font-size: 11px;
    align-items: center;
    font-weight: 600;
    border: 2px solid #999;
    padding: 5px;
    border-radius: 14px;
    justify-content: space-between;
}

.productFAQ_container {
    width: 55%;
}

@media (max-width: 768px) {
    .specsCard_containerr {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_demoContainer {
        gap: 6px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .product_main_image_container {
        width: 80%;
        border-radius: 12px;
    }

    .productFAQ_container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .specsCard_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product_main_image_container {
        width: 75%;
        border-radius: 12px;
    }
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #9998;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.related_products_container {
    margin-top: 50px
}

.homePage_categories_container {
    display: flex;
    width: 70%;
    height: 200px;
    gap: 40px;
}

.homePage_categories_container_main {
    display: flex;
    justify-content: center;
    height: 310px;
    flex-wrap: wrap;
    align-items: center;
}

.category_icon {
    height: 50px;
    width: 50px;
}

.homepage_category {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    width: auto;
    border: 1px solid #626262;
    color: #626262;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.homepage_category:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.homepage_category_active {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    width: auto;
    background-color: #13eef1;
    color: white;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    scale: 1.2;
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.category_text_container {
    font-size: 83%;
    text-align: center;
}

.category_heading_container {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.category_description_container {
    display: flex;
    line-height: 15px;
}

.customBullets li {
    list-style-type: disc;
    /* color: #0088ed; */
}

.customBullets li::marker {
    color: #0088ed;
}

.testifyImg_container {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testifyTxt_container {
    background-color: #caeaf573 !important;
}

.productsFaq {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .homePage_categories_container {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 220px);
        height: 100%;
        width: 100%;
        gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }

    .homePage_categories_container_main {
        display: flex;
        justify-content: center;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
    }

    .homepage_category_active {
        scale: 1.1;
        transition: all 0.3s ease-in-out;
        height: auto;
    }

    .homepage_category {
        height: auto;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
    .homePage_categories_container {
        display: flex;
        height: 200px;
        gap: 40px;
        width: 100%;
    }

    .homepage_category {
        width: 100%;
    }

    .homepage_category_active {
        width: 100%;
    }
}

@media only screen and (max-width: 426px) {
    .slick_Arrow_left {
        left: -15px;
    }
}