.account_dashboard {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20px;
}

.title {
    font-size: 26px;
}

x section {
    margin-bottom: 30px;
}

h3 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
}

.info_card,
.address_card,
.review-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.info_card p {
    margin: 0;
}

.info_actions {
    margin-top: 20px;
}

.info_actions a,
.address_card a {
    color: #333;
    text-decoration: underline;
    font-size: 14px;
}

.info_actions a:hover,
.address_card a:hover {
    text-decoration: underline;
}

.address_container {
    display: flex;
    gap: 20px;
}

.address_card {
    flex: 1;
}

.address_card p {
    margin: 5px 0;
}

.review_card {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    font-weight: 600;
}

.view_all {
    display: inline-block;
    color: #d29453;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid;
    padding: 8px;
    font-size: 10px;
    cursor: pointer;
}

.view_all:hover {
    text-decoration: none;
    background-color: #d29453;
    color: white;
}

.orders_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd
}

.orders_table th,
.orders_table td {
    /* border: 1px solid #ddd; */
    padding: 12px 0px;
    text-align: center;
}

.orders_table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.orders_table a {
    color: #333;
    text-decoration: underline;
}

.orders_table a:hover {
    text-decoration: underline;
}

.section_heading_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.modal_inputField {
    position: relative;
    align-items: center;
}

.modal_eye_container {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.modal_inputField:focus {
    z-index: 0 !important;
}

.warning {
    color: red;
    font-size: 11px;
    font-weight: 500;
    margin-left: 1px;
}

.profile_image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile_image_container {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profile_change_image {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #0000004d;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.wishlist_card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
}

.wishlist_image {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    padding: 10px;
}

.wishlist_image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.wishlist_info {
    padding: 10px;
    text-align: center;
}

.wishlist_info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.wishlist_info p {
    font-size: 14px;
    color: #555;
}

.my_wishlist{
    display: flex;
    gap: 5px;
}